<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @column.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @column.order %>
</p>

<p>
  <strong>Board:</strong>
  <%= @column.board %>
</p>

<%= link_to 'Edit', edit_column_path(@column) %> |
<%= link_to 'Back', columns_path %>
