<% content_for :head do %>
<%= stylesheet_link_tag "boards", media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :title do %>
<title> <%= @board.name %> - eskra.me </title>
<% end %>

<%= render :partial => 'boards/stickie_option_modal' %>

<div class='container-fluid'>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered table-condensed">
        <thead class="title_field">
          <tr>
            <th><h4><%= t(:stories) %></h4></th>
            <% @board.columns.order(:column_order).each do |column| %>
            <th class="column-title">
              <div class="h4" column-id='<%= column.id %>'>
                <a href="#" data-xeditable="true" data-pk="<%= column.id %>" data-model="column" data-name="name" data-url="<%= column_url(column) %>" data-title="Enter name">
                  <%= column.name %>
                </a>
                <div class="btn-group pull-right btn-group-xs">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-wrench"></span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">Add Column ...</li>
                    <li>
                      <a href="#" class="add-side-column" board-id="<%= @board.id %>" side="left">
                        <span class='glyphicon glyphicon-circle-arrow-left'></span> To the left
                      </a>
                    </li>
                    <li>
                      <a href="#" class="add-side-column" board-id="<%= @board.id %>" side="right">
                        <span class='glyphicon glyphicon-circle-arrow-right'></span> To the right
                      </a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">Actions</li>
                    <li>
                      <a href="#" class="delete-column" board-id="<%= @board.id %>" side="right">
                        <span class='glyphicon glyphicon-remove-sign'></span> Delete Column
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </th>
            <% end %>
          </tr>
        </thead>
        <tbody class="column_field">
          <% @board.rows.each do |story| %>
          <tr story-id="<%= story.id %>">
            <td class="story-column">
              <a href="#" data-xeditable="true" data-pk="<%= story.id %>" data-model="row" data-name="name" data-url="<%= row_url(story) %>" data-title="Enter name">
                <%= story.name %>
              </a>
              <div class="btn-group pull-right">
                <button class="btn btn-xs btn-primary" add-sticky="true" data-toggle="tooltip" data-placement="bottom" title="Adds a new sticky"><span class="glyphicon glyphicon-plus"> </span></button>
                <button class="btn btn-xs btn-warning delete-story"><span class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="bottom" title="Removes the whole story"> </span></button>
              </div>
            </td> 
            <% @board.columns.order(:column_order).each do |column|%>
            <td class="column" column-id="<%= column.id %>">
              <% column.stickies.order('created_at DESC').each do |sticky| %>
              <% if story.stickies.include?(sticky) %>
              <div class="panel <%= sticky.color %>" sticky-id="<%= sticky.id %>">
                <div class="panel-button"></div>
                <div class="panel-heading"><a href="#" data-xeditable="true" data-pk="<%= sticky.id %>" data-model="sticky" data-name="name" data-url="<%= sticky_url(sticky) %>" data-title="Enter name">
                  <%= sticky.name %>
                </a>
                <i class="panel-button-mobile"><a data-toggle="modal" data-target="#stickieOptionModal" data-id="<%= sticky.id %>"><span class="glyphicon glyphicon-cog pull-right"></span></a></i>
              </div>
              <div class="panel-body"><a href="#" data-xeditable="true" data-pk="<%= sticky.id %>" data-model="sticky" data-type="textarea" data-showbuttons="bottom" data-anim="500" data-name="text" data-url="<%= sticky_url(sticky) %>" data-title="Enter text"><%= sticky.text %></a>
              </div>
            </div>
            <% end %>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
