<%= form_for(@sticky) do |f| %>
  <% if @sticky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sticky.errors.count, "error") %> prohibited this sticky from being saved:</h2>

      <ul>
      <% @sticky.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_area :color %>
  </div>
  <div class="field">
    <%= f.label :column_id %><br>
    <%= f.text_field :column_id %>
  </div>
  <div class="field">
    <%= f.label :row_id %><br>
    <%= f.text_field :row_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
