<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sticky.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @sticky.text %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sticky.url %>
</p>

<p>
  <strong>Color:</strong>
  <%= @sticky.color %>
</p>

<p>
  <strong>Column:</strong>
  <%= @sticky.column %>
</p>

<p>
  <strong>Row:</strong>
  <%= @sticky.row %>
</p>

<%= link_to 'Edit', edit_sticky_path(@sticky) %> |
<%= link_to 'Back', stickies_path %>
